.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  padding: 32px;
  border-radius: 8px;
  width: 60%;
  height: calc(100vh - 200px);
  background: white;
  display: flex;
  flex-direction: row;
  position: relative;

  &__image {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--img {
      width: 100%;
      height: 80%;
    }
  }

  &__info {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--tag {
      font-size: 1rem;
      color: var(--black);
      background-color: #ffeb9c;
      width: fit-content;
      padding: 4px 6px;
      border-radius: 4px;
      text-transform: uppercase;
    }
    &--name {
      font-size: 2rem;
      margin-top: 16px;
    }
    &--brand,
    &--origin {
      margin-top: 16px;
      font-size: 1.6rem;
    }
    &--price {
      font-size: 1.2rem;
      text-decoration: line-through;
      color: #333;
      margin-top: 16px;
      font-style: italic;
    }
    &--discount {
      font-size: 2rem;
      color: var(--primary);
      font-weight: 600;
    }
  }
  &__notification {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    display: none;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 16px;
    top: 0;
    animation: fadeIn 0.2s ease-in;
  }

  &__close {
    position: absolute;
    background-color: var(--primary);
    color: var(--white);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    top: -8px;
    right: -8px;
  }
}
.modal__buy {
  margin-top: 32px;
  display: inline-flex;
  justify-content: space-between;
  &--btn {
    width: 48%;
    padding: 16px 8px;
    color: var(--white);
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}
.men {
  background-color: #a8bbff;
}
.women {
  background-color: #ffa3e8;
}

@keyframes fadeIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
}
